<head>
  <link rel="stylesheet" href="/memo.css" >
</head>
<header>
  <div class="header_box">
    <h1> memo</h1>
  </div>
</header>

<form>
  <div>
    <label>title</label>
    <input type="text" id="title">
  </div>
   <div>
    <textarea></textarea>
  </div>
  <input type="submit" value="UPDATE">
</form>

<div>
  <a href="/memo">topページ</a>
</div>