<header>
  <div class="header_box">
    <h1> memo</h1>
    <div class="add_btn">
      <a class="btn" href="/memo/new">add memo</a>
    </div>
  </div>
</header>
<section>
  <div class="memo_content">
    <% @memos.each do |memo| %>
      <div class="memo_content">
        <a class="memo" href=<%="/memo/#{memo.id}"%>>
          <%= memo.title %>
        </a>
      </div>
    <% end %>
  </div>
</section>
