<header>
  <div class="header_box">
    <h1> memo</h1>
  </div>
</header>
<form action="/memo" method="post">
  <div>
    <label>title</label>
    <input type="text" id="title" name="title">
  </div>
   <div>
    <textarea id="text" name="text"></textarea>
  </div>
  <input type="submit" value="SAVE">
</form>
