<form action="/memo" method="post">
  <div>
    <label>title</label>
    <input type="text" id="title" name="title">
  </div>
   <div>
    <textarea id="text" name="text"></textarea>
  </div>
  <input type="submit" value="SAVE">
</form>

<div>
  <a href="/memo">topページ</a>
</div>