<header>
  <div class="header_box">
    <h1> memo</h1>
    <div class="add_btn">
      <a class="btn" href="/memo/new">add memo</a>
    </div>
  </div>
  <div class="test">
  aaaaaaaa
  </div>
</header>
<section class="text">
  <h2>
    <%= @memo.title %>
  </h2>
  <div>
    <%= @memo.text %>
  </div>
</section>
<div>
  <a href="/memo">topページ</a>
</div>