body {
  padding: 20px;
  height: 100%;
}

.header_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 1px gray;
}

.add_btn {
  margin-right: 10px;
  background-color: black;
  padding: 20px 10px;
}

.edit_btn {
  margin-right: 10px;
  background-color: black;
  padding: 10px;
}

.update_btn {
  margin-right: 10px;
  background-color: black;
  padding: 10px;
}

.edit_box {
  display: flex;
  justify-content: flex-end;
}

.btn {
  font-size: 18px;
  text-decoration: none;
  color:white;
}

.memo_content {
  padding: 20px 10px;
}
.delete_box {
  margin-right: 10px;
  background-color: black;
  padding: 10px;
}
.delete_submit {
  font-size: 18px;
  background: none;
  border: none;
  outline: none;
  color:white;
  cursor: pointer;
}
