body {
  padding: 20px;
  height: 100%;
}

.header_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 1px gray;
}

.add_btn {
  margin-right: 10px;
  background-color: black;
  padding: 20px 10px;
}

.btn {
  font-size: 18px;
  text-decoration: none;
  color:white;
}

.memo_content {
  padding: 20px 10px;
}

section {
  margin: 20px;
}
